@media only screen and (max-width: 1023px) {
  #aboutus .heading-tertiary {
    font-size: 1.35rem;
  }
}

@media only screen and (max-width: 990px) {
  #aboutus .heading-tertiary {
    font-size: 1.2rem;
  }
  .container-services {
    padding: 0;
  }
  #process .heading-tertiary {
    font-size: 1.5rem;
  }
  #process .number {
    font-size: 36px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-right: 15px;
  }
  .container-process {
    padding-right: 0;
  }

  p.text-team {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 900px) {
  .heading-primary {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 767px) {
  #aboutus .heading-tertiary {
    position: static;
    transform: translate(0, 0);
  }

  .img-aboutus {
    padding: 2% 10%;
  }

  .first-img-aboutus {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
  }

  .third-img-aboutus {
    margin-top: 0;
  }

  .container-services {
    padding: 0.5rem 3rem;
  }

  #process .heading-tertiary {
    font-size: 1.75rem;
  }

  .container-process {
    padding-top: 0;
  }

  p.text-team {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 570px) {
  a.bt-hero-full,
  a.bt-hero-border {
    padding: 12px;
  }
  a.bt-hero-full:after {
    content: "SERVICII";
  }

  a.bt-hero-border:after {
    content: "PROIECTE";
  }
}

@media only screen and (max-width: 420px) {
  .heading-primary {
    font-size: 2rem;
  }

  .heading-primary {
    font-size: 2rem;
  }

  .quote-slide1 {
    display: none;
  }
  .quote-slide2 {
    display: none;
  }
}

@media only screen and (max-height: 400px) {
  .container-slide {
    margin-bottom: 90px !important;
  }
}
